<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de MK</title>
</head>

<body>
    <header>
        <h1>Goro</h1>
    </header>
   
        <section>
            <img src="/img/goro.jpg" alt="Personaje goro" width="250px"> 
              <h2>Historia:</h2>
                <p> <b><i>Goro</i></b> es el príncipe de los shokan. Hijo del rey Gorbak y la reina Maid, 
                    y uno de los guerreros más fuertes y respetados de su pueblo.</p>
        </section>
    
    <footer>
        <h3><li><a href="/">Volver al inicio</a></li></h3>
    </footer>
</body>
</html>