<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MortalKombat</title>
</head>
<body>
    <h1>Mortal Kombat</h1>
    <header>

        <h2>Seleccionar Personaje</h2>

        <ul>
            <li><a href="/goro">Goro</a></li>
            <li><a href="/jax">Jax</a></li>
            <li><a href="/liu-kang">Liu-Kang</a></li>
            <li><a href="/raiden">Raiden</a></li>
            <li><a href="/scorpion">Scorpion</a></li>
            <li><a href="/sonya">Sonya</a></li>
            <li><a href="/sub-zero">Sub-Zero</a></li>
        </ul>
    </header>
</body>
</html>