<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de MK</title>
</head>

<body>
    <header>
        <h1>Jax</h1>
    </header>
   
        <section>
            <img src="/img/jax.jpg" alt="Personaje jax" width="300px"> 
              <h2>Historia:</h2>
                <p> <b><i>Jax</i></b> es un oficial cibermejorado de las Fuerzas Especiales. Jax Briggs perdió ambos brazos en acto de servicio, 
                    pero volvió al campo de batalla aún más fuerte gracias a sus mejoras cibernéticas.</p>
        </section>
    
    <footer>
        <h3><li><a href="/">Volver al inicio</a></li></h3>
    </footer>
</body>
</html>