<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de MK</title>
</head>

<body>
    <header>
        <h1>Liu Kang</h1>
    </header>
   
        <section>
            <img src="/img/liu-kang.jpg" alt="Personaje liu-kang" width="200px"> 
              <h2>Historia:</h2>
                <p> <b><i>Liu-kang</i></b> es un monje Shaolin y campeón de Earthrealm. Liu Kang es un huérfano adoptado por la orden Shaolin, 
                    que le entrenó en el arte del combate.</p>
        </section>
    
    <footer>
        <h3><li><a href="/">Volver al inicio</a></li></h3>
    </footer>
</body>
</html>