<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de MK</title>
</head>

<body>
    <header>
        <h1>Raiden</h1>
    </header>
   
        <section>
            <img src="/img/raiden.jpg" alt="Personaje Raiden" width="200px"> 
              <h2>Historia:</h2>
                <p> <b><i>Raiden</i></b> es el dios del trueno y lider delos mortales ,siendo un dios, posee muchas capacidades sobrenaturales, 
                    como la habilidad de teletransportarse, el control de los rayos y el poder volar</p>
        </section>
    
    <footer>
        <h3><li><a href="/">Volver al inicio</a></li></h3>
    </footer>
</body>
</html>