<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de MK</title>
</head>

<body>
    <header>
        <h1>Scorpion</h1>
    </header>
   
        <section>
            <img src="/img/scorpion.jpg" alt="Personaje scorpion" width="250px"> 
              <h2>Historia:</h2>
                <p> <b><i>Scorpion</i></b> es un luchador que luego de ser revivido ganó habilidades infernales, como el control sobre el fuego, es diestro en el uso de armas arrojadizas,con sus dos espadas puede atacar el doble de rápido a sus oponentes,
                     ademas puede prenderse fuego para lastimar al tocar o ser mas resistente a los golpes.
                </p>
        </section>
    
    <footer>
        <h3><li><a href="/">Volver al inicio</a></li></h3>
    </footer>
</body>
</html>