<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de MK</title>
</head>

<body>
    <header>
        <h1>Sonya</h1>
    </header>
   
        <section>
            <img src="/img/sonya.jpg" alt="Personaje sonya" width="180px"> 
              <h2>Historia:</h2>
                <p> <b><i>Sonya</i></b> es una oficial condecorada de las Fuerzas Especiales,
                    Prefiere mantenerse vigilante hasta que todos los reinos estén a salvo de ser conquistados.
                </p>
        </section>
    
    <footer>
        <h3><li><a href="/">Volver al inicio</a></li></h3>
    </footer>
</body>
</html>