<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de MK</title>
</head>

<body>
    <header>
        <h1>Sub-Zero</h1>
    </header>
   
        <section>
            <img src="/img/sub-zero.jpg" alt="Personaje sub-zero" width="250px"> 
              <h2>Historia:</h2>
                <p> <b><i>Sub-zero</i></b> es un luchador formidable que posee la capacidad innata de controlar el hielo en muchas formas,
                    además es el gran maestro del clan Lin Kuei.
                </p>
        </section>
    
    <footer>
        <h3><li><a href="/">Volver al inicio</a></li></h3>
    </footer>
</body>
</html>